:root{
    --primaryColor: #fe206e;
    --mainFont:"Open Sans", sans-serif;
}
body{
    font-family: var(--mainFont);
}
.text__primary{
    color: var(--primaryColor);
}

.navbar .nav-link{
    color:white;
} 
.navbar .navbar-nav .nav-link.active{
    color:var(--primaryColor);
}
.hero{
    background-image: url(./../assets/img/Hero.jpg);
    background-size: cover;
    height: -100px;
 
}
.hero a{
    color: var(--primaryColor);
}
.about{
    background-image: url(./../assets/img/AboutBG.jpg);
}